<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <packageSources>
    <clear />
    <add key="nuget" value="https://artifactory.internal.cba/api/nuget/nuget.org" protocolVersion="2" />
    <add key="digital-platform-dev" value="https://artifactory.internal.cba/api/nuget/digital-platform-dev" protocolVersion="2" />
	<add key="assisted" value="https://artifactory.internal.cba/api/nuget/assisted-nuget" protocolVersion="2" />      
  </packageSources>

  <!-- AE credential -->
  <packageSourceCredentials>
    <nuget>
      <add key="Username" value="%ARTIFACTORY_ENTERPRISE_USERNAME%" />
      <add key="cleartextpassword" value="%ARTIFACTORY_ENTERPRISE_APIKEY%" />
    </nuget>
    <digital-platform-dev>
      <add key="Username" value="%ARTIFACTORY_ENTERPRISE_USERNAME%" />
      <add key="cleartextpassword" value="%ARTIFACTORY_ENTERPRISE_APIKEY%" />
    </digital-platform-dev>
    <assisted>
      <add key="Username" value="%ARTIFACTORY_ENTERPRISE_USERNAME%" />
      <add key="cleartextpassword" value="%ARTIFACTORY_ENTERPRISE_APIKEY%" />
    </assisted>
  </packageSourceCredentials>
  <!-- AE credential -->

</configuration>